<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SecurityKey" value="Cheorpec"/>
  </appSettings>
<connectionStrings>
    <add name="nw" connectionString="Server=.;&#xD;&#xA;Database=Northwind;&#xD;&#xA;Trusted_Connection=true" />
    <add name="projectbaze.Properties.Settings.magazinConnectionString"
        connectionString="Data Source=DESKTOP-7H7NE9T\ALEX;Initial Catalog=magazin;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>